<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-2/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <title>Title</title>
</head>
<body>
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Product Details
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-12">
            <img class="img-fluid" th:src="${product.imgLink}" alt="" style="height: 400px; width: 370px">
        </div>

        <div class="col-md-8">
            <h3 th:text="'id: '+ ${product.id}"></h3>
        </div>
        <div class="col-md-8">
            <h3 th:text="'Name: '+ ${product.name}"></h3>
        </div>
        <div class="col-md-8">
            <h3 class="description" th:text="'Price: $' + ${product.price}"></h3>
        </div>

        <div class="col-md-8">
            <h3 th:text="'Category: ' + ${product.category.name}"></h3>
        </div>

        <div class="col-md-8">
            <h3 th:text="'Manufacturer: '+ ${product.manufacturer.name}"></h3>
        </div>



        <div class="col-md-8">
            <p class="description" th:text="${product.description}"></p>
        </div>
        <div class="col-md-8">
            <form action='/charge' method='POST' id='checkout-form'>

                <input type='hidden' th:value='${amount * 100}' name='amount'/>
                <label>Name:<span th:text='${name}'/></label>
                <label>Price:<span th:text='${amount}'/></label>
                <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
                <script
                        src='https://checkout.stripe.com/checkout.js'
                        class='stripe-button'
                        th:attr='data-key=${stripePublicKey},
         data-amount=${amount*100},
         data-currency=${currency}'
                        data-name='EMT'
                        data-description='EMT course'
                        data-image
                                ='https://www.finki.ukim.mk/Content/dataImages/downloads/logo-large-500x500_2.png'
                        data-locale='auto'
                        data-zip-code='false'>
                </script>
            </form>
        </div>

    </div>
    <!-- /.row -->

    <!-- /.row -->

</div>
</body>
</html>